.card {
	align-items: center;
	background-color: var(--color-gm-dark-gray);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.25rem;
	padding: 1rem 2rem;
	transition: transform 0.2s ease-in-out;

	h2 {
		color: var(--color-gm-darker-gray);
	}

	&__count {
		font-size: 1.5rem;
		font-weight: bold;
		color: var(--color-gm-light-gray);
		text-align: center;
	}

	&__countName {
		font-size: 0.875rem;
		color: var(--color-gm-gray);
		text-align: center;
	}
}