.main {
	align-items: center;
	justify-content: center;
	display: flex;
	margin-bottom: 4.125rem;
	min-height: calc(100vh - 64px);
	padding: 20px;

	&-content {
		display: flex;
		flex-direction: column;
		gap: 32px;
		width: min(100%, 42rem);
	}

	@media (min-width: 768px) {
		margin-bottom: 0;
		padding: 32px;
	}
}