.main-header {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 16px;
	justify-content: space-between;

	div:first-child {
		width: 100%;
	}

	h1 {
		font-size: 1.875rem;
		font-weight: 700;
		letter-spacing: -0.025em;
		line-height: 2.25rem;
		margin-bottom: 4px;
	}

	label {
		color: var(--color-gm-blue);
		display: block;
		font-size: 0.625rem;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		margin-bottom: 4px;
		margin-left: 4px;
	}

	form {
		align-items: center;
		background-color: var(--color-gm-almost-black);
		display: flex;
		gap: 8px;
		height: 44px;
		padding-inline: 8px;
	}

	select {
		background-color: transparent;
		border: none;
		color: var(--color-gm-light-gray);
		cursor: pointer;

		&:focus {
			outline: none;
		}
	}

	@media (min-width: 768px) {
		flex-direction: row;
	}
}