.main-header {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 16px;
	justify-content: space-between;

	div:first-child {
		width: 100%;
	}

	h1 {
		font-size: 1.875rem;
		font-weight: 700;
		letter-spacing: -0.025em;
		line-height: 2.25rem;
		margin-bottom: 4px;
	}

	label {
		color: var(--color-gm-blue);
		display: block;
		font-size: 0.625rem;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		margin-bottom: 4px;
		margin-left: 4px;
	}

	form {
		align-items: center;
		background-color: var(--color-gm-almost-black);
		display: flex;
		gap: 8px;
		height: 44px;
		padding-inline: 8px;

		&:focus-within {
			outline: 1px solid var(--color-gm-dark-blue);
		}
	}

	select {
		align-items: center;
		appearance: none;
		background-color: transparent;
		border: none;
		color: var(--color-gm-light-gray);
		cursor: pointer;
		height: 100%;
		width: 200px;

		&:focus {
			outline: none;
		}
	}

	select,
	::picker(select) {
		appearance: base-select;
	}

	::picker(select) {
		background: var(--color-gm-dark-blue);
		border: none;
		border-radius: 0 0 12px 12px;
		color: var(--color-gm-blue);
		font-size: 0.875rem;
		height: 350px;
		line-height: 1;
		margin-block-start: 1px;
		margin-inline-start: -41px;
		opacity: 0.8;
		width: 250px;
	}

	@media (min-width: 768px) {
		flex-direction: row;
	}
}

.main-header__error-message {
	color: var(--color-gm-error);
	font-size: 0.75rem;
	line-height: 1;
	width: 120px;
}
