.header {
	align-items: center;
	background-color: var(--color-gm-dark-gray);
	display: flex;
	gap: 32px;
	height: 64px;
	padding-inline: 20px;
	position: sticky;
	top: 0;
	z-index: 50;

	&-title {
		font-size: 1.25rem;
		font-weight: 700;
		letter-spacing: -0.025em;
		color: var(--color-gm-blue);
	}

	nav {
		display: none;

		@media (min-width: 768px) {
			align-items: center;
			display: flex;
			gap: 24px;
		}
	}

	a {
		color: var(--color-gm-gray);
		text-decoration: none;

		&:hover {
			color: var(--color-gm-blue);
		}

		& > span {
			align-items: center;
			display: flex;
			gap: 4px;
		}
	}

	@media (min-width: 768px) {
		padding-inline: 24px;
	}
}