@import './reset.css';

:root {
	--color-gm-accent-gray: #acc8ff16;
	--color-gm-border-gray: #4247534d;
	--color-gm-transparent-gray: #31353c4d;
	--color-gm-light-gray: #dfe2eb;
	--color-gm-gray: #c4c7ce;
	--color-gm-darker-gray: #97a3b6;
	--color-gm-dark-gray: #181c22;
	--color-gm-almost-black: #0a0e14;
	--color-gm-bright-blue: #00ddff;
	--color-gm-blue: #acc7ff;
	--color-gm-dark-blue: #002f68;
	--color-gm-error: #ffb4ab;
	--color-gm-yellow: #f1e05a;

	--box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1),
		0 2px 10px rgba(0, 0, 0, 0.1),
		0 2px 15px rgba(0, 0, 0, 0.1);
	--box-shadow-hover: 0 2px 0 rgba(0, 0, 0, 0.1),
		0 2px 3px rgba(0, 0, 0, 0.1);

	--border-radius: 0.5rem;
}

body {
	background-color: #10141a;
	color: var(--color-gm-light-gray);
	font-family: 'Inter', sans-serif;
	font-size: 16px;
}

h1 {
	font-size: 1.875rem;
	font-weight: 700;
	letter-spacing: -0.025em;
	line-height: 2.25rem;
	margin-bottom: 4px;
}

main {
	display: flex;
	justify-content: center;
	margin-bottom: 4.125rem;
	padding: 20px;

	@media (min-width: 768px) {
		margin-bottom: 0;
		padding: 32px;
	}
}
