.mobile-navigation {
	background-color: var(--color-gm-dark-gray);
	bottom: 0;
	display: flex;
	justify-content: space-around;
	left: 0;
	padding: 10px 0;
	position: fixed;
	right: 0;
	z-index: 50;

	button {
		align-items: center;
		background: none;
		border: none;
		color: var(--color-gm-gray);
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
		justify-content: center;

		&.active {
			color: var(--color-gm-blue);
		}

		span:last-child {
			font-size: 0.625rem;
			letter-spacing: -0.05em;
			line-height: 1rem;
			text-transform: uppercase;
		}
	}

	@media (min-width: 768px) {
		display: none;
	}
}